<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_game">

    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/package_games_arcade"
        android:label="@string/小遊戲"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Myservice"/>
        <activity
            android:name=".math.MathGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".math.MathGame2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photo.Photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fraction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".congame.Congame"
            android:screenOrientation="portrait" />
        <activity android:name=".UserName" />

    </application>

</manifest>